<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color Wheel</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
    <input id="inputBar" type="text">
    <button onclick=sendValue(event)>Send</button>

    <script>
        function sendValue(event) {
            var value = document.getElementById("inputBar").value;
            console.log(value);

            $.ajax({
                type: "POST",
                url: "http://localhost:5000/calculate-color",
                data: value,
                success: hogayaPost
            });
        }

        function hogayaPost () {
            console.log("Prffff");
        }
    </script>
    
</body>
</html>